*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
}

header{
  background-color: rgb(33,35,53);
}

.header-img{
  height: 38px;
  margin-left: 25px;
}

.header-title{
  font-size: 26px;
  color: white;
  font-family: serif;
  margin-left:20px ;
}

.header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 11px 0;
}

.top-img{
  width: 100%;
  height: 400px;
  background:url(../img/top_img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1{
  font-size: 26px;
  font-family: serif;
  color: #333333;
}

p{
  font-size: 16px;
  font-family:sans-serif;
  color: #333333;
}

.top-message{
  text-align: center;
}

.top-title{
  margin: 50px;
}

.top-sentence{
  padding-bottom: 70px;
}

.myself-wrapper{
  height:auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

@media screen and (max-width: 830px) {
  .myself-wrapper {
      flex-direction: column;
  }
}

.myself-img{
  height: 300px;
  border-radius: 50%;
  margin: 0 50px;
}

.myname{
  font-size: 30px;
  margin-bottom:30px ;
}

@media screen and (max-width: 830px) {
  .myname {
      text-align: center;
      margin-top: 15px;
  }
}

.mydetail{
  font-size: 22px;
  display: flex;
  flex-direction: row;
  line-height: 40px;
}

.detail-right{
  margin-left: 70px;
}

.cebu-wrapper{
  width: 100%;
  text-align: center;
  margin:0, 50px;
}

.cebu-title{
  margin-top:80px;
  margin-bottom: 40px;
  text-align: center;
}

.cebu-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* これが効かないのは何で？ */
  /* margin: 0 auto; */

  margin: 0px 80px;
}

.cebu-form{
  width: 31%;
  height:auto;
  text-align: left;
}

@media screen and (max-width: 830px) {
  .cebu-container {
      flex-direction: column;
  }
  .cebu-form{
    width: 80%;
    margin-bottom: 15px;
  }
}


.cebu-pic img{
  /* 写真が大きすぎるのは何で？ */
  width:100%;
}

.cebu-contents h2{
  font-size: 20px;
  font-family:"Yu Gothic" ;
  margin-top:10px;
  margin-bottom: 10px;
}

.cebu-contents p{
  height: 50px;
}
button{
  background-color: rgb(33,35,53);
  color: white;
  font-size: 16px;
  font-family:sans-serif;
  padding: 15px 10px;
  border-radius: 5px;
  margin-top: 50px;
}

/* ボタンの位置を一番下に配置したい 凸凹になってしまうのは何で？*/
.btn{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: baseline;
}

.btn:hover{
  opacity: 0.8;
}

.message-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-title{
  margin-top: 110px;
  margin-bottom:65px ;
}

@media screen and (max-width: 830px) {
  .message-title {
      margin-top:50px;
  }
}

.contact button{
  padding: 25px 70px;
  font-size: 20px;
}

.contact:hover{
  opacity: 0.8;
}

.contact{
  margin-bottom:100px ;
}

footer p{
  color: white;
  font-size: 16px;
}

footer{
  width: 100%;
  background-color: rgb(33,35,53);
  display: flex;
  justify-content: center;
  padding: 25px 0;
}